<script>
    function reply(comment_name, comment_id) {
        $('#content').attr('placeholder', '回复' + comment_name + '的内容：'); // 设置内容输入框的提示
        $('#reply').val(comment_id) //设置隐藏元素的值为评论目标的id
    }
</script>
<script>
    $(document).ready(function () {
        $('#submit_comment').click(function () { // 定义回复按钮点击时调用的函数
            $.ajaxSetup({ // 添加防止跨域攻击的代码
                data: {csrfmiddlewaretoken: '{{ csrf_token }}'}
            });
            var reply = $('#reply').val(); // 将评论目标id存入变量
            var name = $('#name').val(); // 将评论人昵称存入变量
            var email = $('#email').val(); // 将评论人邮箱地址存入变量
            var content = $('#content').val(); // 将评论内容存入变量
            if (name && email && content) { // 如果所有内容都已填写
                $.post('{% url 'comment' %}', { // 用post方法提交请求
                    'article': {{ article.id }}, // 请求中包含的参数字典
                    'reply': reply,
                    'name': name,
                    'email': email,
                    'content': content
                }, function (result) { // 回调函数获取返回结果
                    if (result === '200') { // 如果返回评论成功编码
                        $('#comment_message').css({color: "green"}).html('评论成功！'); // 设置提示元素的样式与文字
                    } else {
                        $('#comment_message').css({color: "red"}).html('评论失败！');
                    }
                });
                $('#comment_message').removeAttr('hidden'); // 去除提示元素的隐藏属性将提示显示在页面
                setTimeout(function () { // 设置超时后执行的函数
                    location.reload() // 重载页面内容
                }, 1000); // 设置超时时长
            } else { // 如果不是所有内容都已填写
                $('#comment_message').removeAttr('hidden').html('请检查填写的内容！').css({color: "red"});
                // 去除提示元素的隐藏属性将提示显示在页面，同时设置提示的样式与文字
            }
        });
    });
</script>